<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <style>
    body{font-family:Arial;}
        .header{background-color:black;height:120px; overflow-y:hidden; overflow-x:auto; white-space:nowrap; }
        #headFont{font-size:35px; color:white;overflow-x:scroll; overflow-y:hidden; }
        #headLeft{background-color:black; color:white; height:150px; width:60%;display:inline-block;}
        #headRight{color:white; display:inline-block;}
        .head_a{text-decoration:none; color:white}
    </style>
</head>
<body>

<div id="header" class="header">
    <div class="header" id="headLeft">
        <b id="headFont">
            Rootkit's Blog
        </b>
        <h3>rm -rf /*</h3>
    </div>
    <div id="headRight" class="header">
        <center><br>
            <a href="/index/" class="head_a">Index</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/index/login" class="head_a">Login</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/index/register" class="head_a">Register</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/index/account" class="head_a">Account</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <a href="/index/logout" class="head_a">Logout</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        </center>
    </div>
</div><br><br>

</body>
</html>